**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.gitignore
**/graphify-out
**/.agents
**/.antigravitycli
**/docs
**/*.md
**/*.user
**/*.DotSettings.user
**/Makefile
**/dotnet-tools.json
**/NetForum.Tests
